#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  height: calc((100% - 30px) / 2) !important;
  /* border-radius: 20px;
  overflow: hidden; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
